body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    font-family: "Plus Jakarta Sans", sans-serif;
    position: relative;
    font-weight: 600;
    font-size: 1.0rem;
    height: 50px;
    transition: all 200ms linear;
    border-radius: 8px;
    width: 180px;
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
    text-transform: capitalize;
    box-shadow: 5px 5px 5px black;
    background-color: red;
    color: white;
 

}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index:10;
    

}

.overlay {
    background: rgba(49,49,49,0.8);
    z-index:10;
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    z-index:10;
    border-radius: 8px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}